.pic-card-container {
  height: 75vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    font-size: 16px;
    color: #6a6a6a;
    letter-spacing: 0.24px;
    text-align: center;
  }
  img{
    width: 100%
  }
}

.trip-cards-wrapper {
  padding: 16px 16px;
  a {
    color: rgb(83, 83, 83);
    text-decoration: none;
  }
}

.add-trip-btn {
  position: absolute;
  left: calc(50% - 30px);
  width: 60px;
  display: flex;
  justify-content: center;
  bottom: 25px;
  background: #6700f9;
  z-index: 999;
  height: 60px;
  border-radius: 55px;
  align-items: flex-start;
  padding-top: 10px;
  img {
    width: 40px;
  }
}

.logout-btn-link {
  position: absolute;
  right: 21px;
  bottom: 21px;
  display: initial;
  display: flex;
  justify-content: flex-end;

  img {
    width: 10%;
  }
}
