.home-banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: #5b00d9;
  .logo-img {
    margin-top: 5vh;
    width: 40%;
  }
  .login-btn {
    margin-top: 8vh;
    width: 40%;
  }
  a {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


@media screen and (max-width: 600px) {
  .home-banner-container {
    .logo-img {
      margin-top: 5vh;
      width: 70%;
    }
    .login-btn {
      width: 75%;
    }
  }
}
