
<div class="home-banner-container">
    <h1 class="">TravelPlan</h1>
    <p>The ToDo list for your travels</p>
    <%= image_tag 'MapCity.png', class: "logo-img" %>
    <%= link_to user_facebook_omniauth_authorize_path  do %>
      <%= image_tag 'login-fb-btn.png', class: "login-btn"%>
    <% end %>
</div>

