.form-background{
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #F0F2F6;
  left: 0px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.activity-form-card{
  padding: 16px 24px;
  border-radius: 24px;
}

.close-form-icon{
  color: red;
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
}

.form-header{
  width: 100%;
    height: 20%;
    background: red;
    position: absolute;
    top: 0;
    left: 0px;
    background: linear-gradient( to bottom, 

#8f94fb,
#4e54c8 );

border-bottom-left-radius: 30px;
}