.trip-form-container{
    z-index: 9999;
    position: absolute;
  background-color:#F4F4F4;
    width: 100%;
    height: 100vh;
    padding: 0px 0px;
    .form-wrapper{
  padding: 0px 24px;
  padding: 20px 0px;
  input[type='submit']{
    width: 100%;
    margin-top: 30px;
    border-radius: 33px;
  }
    }
}
.new_trip{
      padding: 0px 24px;

}


#trip_description{
    height: 120px;
}


.form-background {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #f0f2f6;
  left: 0px;
  padding-top: 24px;
  z-index: 2;
}

.form-title {
  text-align: center;
  font-size: 24px;
  color: #696969;
  letter-spacing: 0.39px;
  text-align: center;
}

.close-form-icon {
  color: #c4c4c4;
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 24px;
}


