.trip-card-l {
  border-radius: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 14px;
  height: 20vh;
  background: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  div {
    display: flex;
  }
  span {
    margin-right: 10px;
    font-size: 22px;
    letter-spacing: 1.2px;
  }
  h1 {
    font-size: 24px;
    margin-bottom: 0px;
    color: white;
  }
  p {
    color: white;
    font-weight: 300;
  }
}
