$color-primary: #6700F9;

@import 'bootstrap/scss/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import "flag-icon";

@import 'components/index';
@import 'pages/index';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');


@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body{
  background-color:#efefef73
}
#trip-dashboard{
  height: calc(100vh - 50px);
  position: relative;
  padding: 0px !important;
}

