.activity-show-img {
  height: 30vh;
  margin: 0 auto;
  width: 50%;
  margin-top: 0px;
  margin-bottom: 8px;
  border-radius: 11px;
  object-fit: cover;
  object-position: center;
}

.show-activity-card-wrapper {
  position: absolute;
  width: 100%;
  z-index: 12;
  text-align: center;
  padding: 14px;
  background: white;
  height: 100%;
  .dashboard-header {
    padding-bottom: 0px;
  }
  button {
    width: 50%;
    margin-top: 12px;
    border-radius: 33px;
    span {
      margin-right: 8px;
    }
  }
}

.activity-description-box {
  padding: 15px 10px;
  width: 60%;
  margin: 0 auto;
  h3 {
    font-size: 16px;
    margin-bottom: 8px;
    color: #696969;
    letter-spacing: 0.26px;
  }
}

@media screen and (max-width: 600px) {
  .activity-show-img {
    width: 100%;
  }
  .activity-description-box {
    width: 100%;
  }
  .show-activity-card-wrapper {
    button {
      width: 100%;
    }
  }
}
