.trip-card {
  box-shadow: 6px 6px 9px 0 rgba(224, 224, 224, 0.5);
  border-radius: 37px;
  display: flex;
  overflow: hidden;
  position: relative;
  margin-bottom: 8px;
  background: white;
  height: 88px;
  padding: 0px 24px;
  align-items: center;
  &.trip-card-infowindow{
    padding: 0px;
    box-shadow: none;
  }
  .fa-trash {
    right: 16px;
    position: absolute;
    top: 8px;
    color: #d5d5d5;
    cursor: pointer;
  }

  .fa-eye,
  .fa-check {
    right: 10px;
    position: absolute;
    bottom: 8px;
    color: #ffa80382;
    cursor: pointer;
    font-size: 24px;
  }

  .fa-check {
    color: #12d212;
  }
}

.trip-card-info {
  width: 100%;
  flex: 1 1;
  height: 100%;
  padding: 10px 10px;
  h3 {
    font-weight: bold;
    font-size: 16px;
    color: #4a4a4a;
    margin-bottom: 3px;
  }

  .location-info {
    margin-bottom: 8px;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0px;
  }

  .notes-info {
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 8px;
  }
}

.card-picture {
  width: 64px;
  height: 64px;
  border-radius: 11px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-location-info {
  margin: 0px;
  color: #858585;
  font-size: 14px;

  font-weight: 300;
}

.card-category {
  font-size: 12px;
  color: #6700f9;
  font-weight: 300;
}
